*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/dictionaries/admin.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/app/src/androidTest/java/com/example/careemui/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/careemui/ExampleUnitTest.kt
/.idea/gradle.xml
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
